@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,500&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Playfair Display';

}
body{
    background-color: black;
    color: yellow;
}

div > p{
    color: black;
    font-size: larger;
    
}
.naam{
    text-decoration: none;   
}
a{
    text-decoration:none;
}

.grid-container{
    display: grid;
    grid-template-columns: 350px 350px 350px;

    justify-content: space-between;
}
img{
    max-width: 500px;
}

.een,.twee,.drie{
    text-align: center;
    font-weight: bold;
    background-color: yellow;
    border-radius: 20px;
    
}

h1{
    text-align: center;
}
.f1{
    display: flex;
    flex-direction: column;

}

footer{
    margin-top: 200px;
    text-align: center;
    
}

.ig{
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    color: yellow;

}
.flexig{
    display: flex;  
    justify-content: center;
}
.flexig img{
    max-width: 30px;

}
.igcontact{
    font-size: larger;
    font-weight: bold;
    color: yellow;
    margin-bottom: 10px;
}

.grid-container a{
    display: block;
}